.Header {
  max-width: 99vw;
  height: auto;
}

.Body {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  height: auto;
}

.Content {
  text-align: center;
  width: 100%;
}

.Menu {
  border-right: black 2px solid;
  margin-top: 100px;
  justify-items: left;
}

.Paragraph {
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

.Layout {
  max-width: 99vw;
  align-content: center;
  margin-left: 4px;
}

@media only screen and (max-width: 768px){
  .Body {
      flex-direction: column;
      height: auto;
      max-width: 100vw;
  }
  .Content {
    width: 100%;
  }

  .Menu {
    margin-top: 10px;
  }

  .Header {
    max-height: fit-content;
    max-width: 100vw;
  }

  }