.Header {
  width: 100%;
  max-width: 1500px;
  height: auto;
}

.Body {
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  height: 900px;
}

.Content {
  text-align: center;
  width: 70%;
}

.Menu {
  border-right: black 2px solid;
  margin-top: 100px;
}

.backToHome {
  margin: 3rem 0 0;
}

.Paragraph {
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}
