.Menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Button {
    display: flex;
    flex-direction: column;
}

.collapsed {
  visibility: hidden;
  height: 0px;
}

.icon {
  visibility: hidden;
}


  @media screen and (max-width: 600px) {
    .Menu {
    max-height: 15px;
    visibility: hidden;
  }

    .icon {
      visibility: visible;
      text-align: left;
      height: 100%;
  }

    .visible {
      visibility: visible !important;
      height: 100%;
      color: black;
      margin-bottom: 0px;
    }

      
  }