.Menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Button {
    display: flex;
    flex-direction: column;
}

.Hamburger {
    background-color: black;
    overflow: hidden;
    visibility: hidden ;
    height: 0px;
  }

    .icon {
    visibility: hidden;
  }

  @media screen and (max-width: 600px) {
    .Menu {
        max-height: 15px;
      visibility: hidden;
    }
  }

  @media screen and (max-width: 600px) {
    .icon {
      float: right;
      visibility: visible;
    }
  }

  @media screen and (max-width: 600px) {
    .icon  {position: relative;
      position: absolute;
      right: 0;
      top: 0;
      visibility: visible;
      float: none;
      display: block;
      text-align: left;
      visibility: visible;
      height: 100%;
    }
    .responsive  {position: relative;
        position: absolute;
        right: 0;
        top: 0;
        visibility: visible;
        float: none;
        display: block;
        text-align: left;
        visibility: visible;
        height: fit-content;
        max-height: 100%;
      }
  }